@include font-face('Gotham Pro', '../fonts/gotham-pro-regular', $regular, normal);
@include font-face('Gotham Pro', '../fonts/gotham-pro-medium', $medium, normal);
@include font-face('Gotham Pro', '../fonts/gotham-pro-bold', $bold, normal);
*,
:after,
:before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font: $regular 18px / 23px $font;
  color: $color-black;
  background: $color-white;
}
a {
  color: $color-blue;
  outline: none;
  @include transition;
  &:hover,
  &:active {
    text-decoration: none;
  }
}
p {
  margin: 0 0 30px;
}
img {
  display: block;
  max-width: 100%;
  margin: 0;
}
strong,
b {
  font-weight: $bold;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font;
  font-weight: $medium;
  line-height: normal;
  color: $color-blue;
  margin: 0 0 30px;
}
h1,
.h1 {
  font-size: 28px;
  @media screen and (min-width: 600px) {
    font-size: 36px;
  }
}
h2,
.h2 {
  font-size: 26px;
  @media screen and (min-width: 600px) {
    font-size: 32px;
  }
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 23px;
}
h5,
.h5 {
  font-size: 22px;
}
h6,
.h6 {
  font-size: 18px;
}
ul,
ol {
  margin: 0 0 30px;
}
q {
  display: block;
  margin: 0 0 30px;
}
svg {
  display: block;
  overflow: hidden;
}
input,
textarea {
  &::-webkit-input-placeholder {
    color: #C4C4C4;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: #C4C4C4;
    opacity: 1;
  }
  &:-moz-placeholder {
    color: #C4C4C4;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: #C4C4C4;
    opacity: 1;
  }
}
input::-ms-clear {
  display: none;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.cover {
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  @media screen and (min-width: 990px) {
    max-width: 970px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
}
.slick-slider {
  display: block!important;
}
.slick-slide {
  outline: none;
  & > div {
    outline: none;
  }
}
.fancybox-slide--html {
  padding: 15px;
}
.fancybox-bg {
  background: rgba(0, 0, 0, 0.31);
}
.fancybox-is-open .fancybox-bg {
  opacity: 1;
}
select {
  display: none;
}
.jq-selectbox {
	display: block!important;
  cursor: pointer;
  select {
    display: block;
  }
}
.jq-selectbox__select {
	height: 60px;
	padding: 0 62px 0 17px;
	border: 1px solid #ECEFEF;
	background: $color-white;
	font: $regular 16px $font;
  color: $color-blue;
  @media screen and (min-width: 600px) {
    font-size: 18px;
  }
}
.jq-selectbox.disabled .jq-selectbox__select {
	color: #DFDFDF;
}
.jq-selectbox__select-text {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 19px;
  @media screen and (min-width: 600px) {
    padding-top: 18px;
  }
}
.jq-selectbox .placeholder {
	color: #DFDFDF;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 62px;
	height: 100%;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 22px;
	right: 24px;
	width: 10px;
	height: 10px;
  border-right: 3px solid $color-blue;
  border-bottom: 3px solid $color-blue;
  transform: rotate(45deg);
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	border-color: #DFDFDF;
}
.jq-selectbox__dropdown {
	width: 100%!important;
	margin: -1px 0;
	padding: 0;
	border: 1px solid #ECEFEF;
	background: $color-white;
  font: $regular 16px $font;
  left: 0!important;
  top: 100%!important;
  right: auto!important;
  bottom: auto!important;
  @media screen and (min-width: 600px) {
    font-size: 18px;
  }
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	padding: 12px 17px;
	user-select: none;
	white-space: normal;
  color: $color-blue;
  @media screen and (min-width: 600px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.jq-selectbox li.selected {
	background-color: #ECEFEF;
}
.jq-selectbox li:hover {
	background-color: #ECEFEF;
}
.jq-selectbox li.disabled {
	color: #DFDFDF;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
