.section-name {
  margin: 0;
  font: $medium 36px $font;
  color: $color-blue;
  text-transform: uppercase;
  padding-left: 50px;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 12px;
    height: 26px;
    background: $color-blue;
    position: absolute;
    left: 0;
    top: 8px;
  }
}