.video-carousel {
  position: relative;
  display: none;
  @media screen and (min-width: 600px) {
    margin: 0 -15px 0 0;
  }
  @media screen and (min-width: 600px) {
    margin: 0 -15px;
  }
  &__item {
    display: block!important;
    padding: 0 7.5px;
    width: 100%!important;
    @media screen and (min-width: 600px) {
      padding: 0 15px 0 0;
    }
    @media screen and (min-width: 600px) {
      padding: 0 15px;
      width: 550px!important;
    }
    @media screen and (min-width: 990px) {
      width: 100%!important;
    }
  }
}