.advantages {
  background: $color-gray;
  &__cover {
    padding-top: 60px;
    padding-bottom: 20px;
    @media screen and (min-width: 990px) {
      padding-top: 40px;
      padding-bottom: 0;
    }
  }
  &__heading {
    margin: 0 0 50px;
    @media screen and (min-width: 990px) {
      margin-bottom: 70px;
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    position: relative;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 600px) {
      margin: 0 -20px;
    }
  }
  &__item {
    flex: 0 0 auto;
    padding: 0 0 40px;
    width: 100%;
    text-align: center;
    @media screen and (min-width: 600px) {
      padding-left: 20px;
      padding-right: 20px;
      width: (100% / 2);
    }
    @media screen and (min-width: 990px) {
      width: (100% / 4);
    }
  }
  &__item-number {
    font-size: 48px;
    line-height: 48px;
    font-weight: $medium;
    color: #0E214C;
    margin: 0 0 14px;
  }
  &__item-description {
    margin: 0 auto;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    font-weight: $medium;
    max-width: 220px;
  }
}