.health-care {
  &__cover {
    padding-bottom: 45px;
    @media screen and (min-width: 990px) {
      padding-bottom: 30px;
    }
  }
  &__title {
    font: $medium 28px $font;
    color: $color-black;
    margin: 0 0 42px;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 600px) {
      font-size: 36px;
    }
    @media screen and (min-width: 990px) {
      margin-bottom: 47px;
      text-align: left;
      font-weight: $bold;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
    @media screen and (min-width: 768px) {
      margin-right: -24px;
    }
    @media screen and (min-width: 990px) {
      margin-right: -30px;
    }
  }
  &__item {
    flex: 0 0 auto;
    width: 100%;
    padding: 0 0 24px 0;
    display: flex;
    @media screen and (min-width: 768px) {
      padding-right: 24px;
      width: (100% / 3);
    }
    @media screen and (min-width: 990px) {
      padding-right: 30px;
      padding-bottom: 30px;
    }
  }
  &__item-link {
    flex: 0 0 auto;
    display: flex;
    width: 100%;
    background: $color-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: $medium;
    font-size: 14px;
    line-height: 18px;
    color: $color-blue;
    padding: 10px;
    min-height: 112px;
    text-transform: uppercase;
    &:hover,
    &:active {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }
  &__item-text {
    max-width: 210px;
  }
}