.programs {
  background: #F4F4F4;
  &__cover {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  &__content {
    position: relative;
  }
  &__heading {
    display: flex;
    position: relative;
    margin: 0 -40px 25px 0;
  }
  &__section-name {
    flex: 1 1 auto;
    padding-right: 40px;
  }
  &__button-block {
    flex: 0 0 auto;
    padding-right: 40px;
    position: relative;
    margin-top: -1px;
  }
  &__description {
    margin: 0 0 55px 50px;
    max-width: 520px;
    font-size: 24px;
    line-height: 32px;
    color: #31393D;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -30px 0 0;
    min-height: 106px;
  }
  &__item {
    flex: 0 0 auto;
    width: (100% / 3);
    padding: 0 30px 30px 0;
    display: flex;
  }
  &__item-link {
    flex: 0 0 auto;
    display: flex;
    width: 100%;
    background: $color-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: $medium;
    font-size: 18px;
    line-height: 26px;
    color: #002B3B;
    padding: 10px;
    &:hover,
    &:active {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }
}