.strategic-partners {
  &__cover {
    padding-top: 60px;
    @media screen and (min-width: 990px) {
      padding-top: 50px;
      padding-bottom: 10px;
    }
  }
  &__description {
    margin: 0 0 40px;
    @media screen and (min-width: 600px) {
      font-size: 20px;
      line-height: 27px;
    }
    @media screen and (min-width: 990px) {
      margin-bottom: 45px;
    }
  }
  &__list {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -30px;
    @media screen and (min-width: 990px) {
      margin: 0 -50px;
    }
  }
  &__item {
    padding: 0 30px 30px;
    @media screen and (min-width: 990px) {
      padding: 0 50px 40px;
    }
  }
}